[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2 = "*"
django-allauth = "*"
redis = "*"
celery = {extras = ["redis"], version = "*"}
stripe = "*"
django-environ = "*"

[dev-packages]
flake8 = "==4.0.0"
isort = "*"
wemake-python-styleguide = "*"
django-debug-toolbar = "*"
django-extensions = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
